@model eMedicineWeb.Models.CompanyViewModal

@{
    ViewBag.Title = "GetCompanyById";
}

<h2>GetCompanyById</h2>

<div>
    <h4>CompanyViewModal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updatedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updatedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
